.btn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background: slateblue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    transition: 250ms;
}

.btn:hover {
    transform: translateY(-10px);
}